artifacts/**
build/**
**/.vs/**
.build_script/**
node_modules/**
**/Temp/**/*
**/obj/**/*
**/Library/**/*
**/*Results/**
**/Logs/**
**/.vscode/**
**/.idea/**
.DS_Store
.npmrc
!Documentation~
!.Documentation
npm-debug.log
build.sh.meta
build.bat.meta
.idea/
.Editor/*
upm-ci~/*

*.csproj
*.sln

*.lib*
*.pdb*
**/.Editor
/upm-ci~